/Calculator/CalculatorClientApp/nbproject/private/
/Calculator/CalculatorApp/nbproject/private/
/Calculator/CalculatorClientApp/build/
/WebServicePlanner/nbproject/private/
/WebServicePlanner/dist/
/WebServicePlanner/build/